<?xml version="1.0"?>
<ruleset name="BP Tracker">
	<description>WPCS ruleset for the BP Tracker plugin.</description>

	<file>.</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<arg name="basepath" value="./"/>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<arg name="colors"/>

	<rule ref="WordPress-Extra"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="bp-tracker"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="bp_tracker"/>
				<element value="BP_Tracker"/>
			</property>
		</properties>
	</rule>

	<config name="testVersion" value="8.2-"/>
</ruleset>
